

.body {
    width: 100%;
    min-width: 1000px;
    height: auto;
    display: flex;
    flex-direction: column
}

.header {
    width: 100%;
    min-width: 1000px;
    height: 100px;
    background-color: pink;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main {
    width: 100%;
    min-width: 1000px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    background-color: rgba(0, 204, 255, 0.884);
}

.links {
    display: flex;
    list-style-type: none; 
    /*background-color: aquamarine;*/
    justify-content: space-around;
    min-width: 713px;
    min-height: 58px;
    padding-top: 20px
}

.navtext {
    font-family: 'Pacifico', cursive;
    color: white;
    text-decoration: none;
    font-size: larger;
}

.select {
    text-decoration: underline;
    color: rgb(250, 78, 78);
}

.balloons {
    width: 450px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px; 
    animation: imgZoom 5s ease infinite;
}

img:hover {
    animation-play-state: paused;
}

@keyframes imgZoom {
    0% {transform: scale(1) rotate(0deg);}
    50% {transform: scale(0.5) rotate(180deg);}
    100% {transform: scale(1.0) rotate(360deg);}
}

h1 {font-family: 'Pacifico', cursive;
    display: flex;
    background-color: pink;
    justify-content: center;
}

h2 {font-family: 'Pacifico', cursive;
    margin-left: 20px;
    align-self: center;
    font-size:xx-large;
}

h3 {font-family: 'Pacifico', cursive;
    align-self: center;
    font-size:xx-large;
    line-height: 0.5;
}

p {font-family: 'Pacifico', cursive;
    display: flex;
    justify-content: center;
    font-size: x-large;
}

.button {
    max-width: 300px;
    width: 100%;
    max-height: 200px;
    /*min-height distorted the image, max-height looked better, not sure if correct*/
    height: 100%;
    border-radius: 50px;
    background-color: pink;
    font-size: 25px;
    font-family: 'Pacifico', cursive;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;margin-bottom: 70px;
}

.button:hover {
    background-color: gold;
    transition: all 0.9s ease-in-out;
    transition-delay: 0.5s;
}

.footer {
    width: 100%;
    min-width: 1000px;
    height: 250px;
    background-color: pink;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}